#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.headerBox {
  color: aqua;
}

.articleList {
  background-color: rgb(150, 150, 150);
  border-radius: 1cm;
}

li {
  list-style-type: none;
}

h2 {
}

.articleTopic {
  position: left;
}
