#root {
  max-width: 1280px;
  margin: 1rem;
  padding: 1rem;
}

/* header */
.headerBox {
  color: aqua;
  text-align: center;
}

.navbar {
  background-color: #333333;
  display: flex;
  align-items: center;
}
/* article list */
.articleList {
  background-color: rgb(150, 150, 150);
  border-radius: 1cm;
  text-align: left;
  margin: 1cm;
  padding: 2rem;
}

li {
  list-style-type: none;
}

.articleTopic {
  text-align: right;
}

.articleTopic {
  position: left;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* single articles */
.articleBox {
  background-color: rgb(31, 31, 31);
  border-radius: 1cm;
  margin: 0.5cm;
  padding: 1rem;
}

/* comments */
.commentList {
  background-color: rgb(32, 32, 32);
  border-radius: 0.5cm;

  margin: 0.5cm;
  padding: 2rem;
}
