#root {
  max-width: 1280px;
  margin: 1rem;
  padding: 1rem;
}

.headerBox {
  color: aqua;
  text-align: center;
}

.navbar {
  background-color: #333333;
  display: flex;
  align-items: center;
}

.articleList {
  background-color: rgb(150, 150, 150);
  border-radius: 1cm;
  text-align: left;
  margin: 1cm;
  padding: 2rem;
}

li {
  list-style-type: none;
}

.articleTopic {
  text-align: right;
}

.articleTopic {
  position: left;
}
